[ASTEROID]
Population model    = orbits_10mbas.des
SPK T0              = 59200
nDays               = 8600
SPK step            = 1
nbody               = T
Input format        =  whitespace


[SURVEY]
Survey database     = baseline_v2.0_10yrs.db
Field1              = 1
nFields             = 2084198
Telescope           = I11
Surveydbquery       = SELECT observationId,observationStartMJD,fieldRA,fieldDEC,rotSkyPos FROM observations order by observationStartMJD

[OUTPUT]
Output file          = stdout
Output format        = whitespace


[CAMERA]
Camera              = instrument_circle.dat
Threshold           = 5