numpy
pandas
pytest
pytest-cov
astropy
astroquery
sorcha
scipy
sbpy
pandas
pysqlite3 
matplotlib
sphinx
sphinx-rtd-theme
sphinx-autoapi
sphinx-exec-directive
nbsphinx
ipython
jupytext
jupyter
sorcha-addons
importlib_resources
